@charset "utf-8"

@font-face {
    font-family: 'PassionOne';
    src: url(../fontes/Passion_One/PassionOne-Bold.ttf);
}
@font-face {
    font-family: 'Sriracha';
    src: url(../fontes/Sriracha/Sriracha-Regular.ttf);
}

:root{
    --fonte1: 'verdana', Geneva, Tahoma, sans-serif
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
header{
    background-color: black;
    color: white;
}
header h1{
    font-family: var(--fonte-titulo);
}
header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header a{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
main{
    font-family: var(--fonte-texto);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
footer a{
    text-decoration: none;
    text-align: justify;
    color: white;
    font-weight: bold;
}