@charset "UTF-8";

/*
em HTML é id     = em CSS é # (Só pode em um elemento)
em HTML é class  = em CSS é .(pode em vários elementos)
*/

body {
    background-color: rgba(215, 250, 181, 0.651);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #2B611E;
}
h1#principal {
    text-align: center;
    background-color: #2B611E;
    color: #6AED4A;
}
h2 {
    color: #6AED4A;
}
.basico {
    color: green;
}
.intermediario {
    color:  #ff8800c7;
}
.avançado {
    color: red;
}
.destaque{
    background-color: rgba(110, 58, 158, 0.753);
    color: rgba(51, 157, 184, 0.733);
}